@font-face {
    font-family: "Montserrat";
    src: url('../libs/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway - Extra Bold";
    src: url('../libs/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../libs/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../libs/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../libs/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../libs/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway - Semi Bold";
    src: url('../libs/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}