/*  ПОДКЛЮЧЕНИЕ ШРИФТОВ */

/* font-family: 'montserrat', sans-serif; */
/* font-family: 'raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900,900i|Raleway:300,400,500,600,700,800,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
    font-family: "montserrat";
    src: url('../libs/fonts/montserrat/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "raleway - extra bold";
    src: url('../libs/fonts/raleway/raleway-extrabold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url('../libs/fonts/raleway/raleway-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url('../libs/fonts/raleway/raleway-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url('../libs/fonts/raleway/raleway-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url('../libs/fonts/raleway/raleway-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "raleway - semi bold";
    src: url('../libs/fonts/raleway/raleway-semibold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* ОФОРМЛЕНИЕ ОБЩИХ СТИЛЕЙ */


body {
    max-width: 1920px;
    margin: 0 auto;
}

a,
a:hover {
    text-decoration: none;
    color: #ffffff;
}

input,
input:hover,
input:focus,
button,
button:hover,
button:focus {
    outline: 0;
    overflow: hidden;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

/* ОФОРМЛЕНИЕ СТИЛЕЙ НА СТРАНИЦЕ*/

/* HEADER */

.all-header {
    background-color: #171c24;
    margin-top: -20px;
    min-height: 1026px;
    background-image: url("../img/bg/bg-1-0-color.png");
    position: relative;
}

.header-wrapper {
    position: relative;
    z-index: 2;
}

.navbar-default {
    background: none;
    border: none;
    position: relative;
    top: 37px;
    left: 370px;
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.navbar-menu {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-menu > a {
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    transition-duration: 0.3s;
    margin-right: 20px;
    display: block;
}

.navbar-menu > a:hover {
    color: #c7b299;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.navbar-menu > a:focus {
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 2px 1px 2px #0f0f0f;
}

.navbar-menu > a:active {
    color: #988575;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 2px 1px 2px #0f0f0f;
}

.navbar-brand {
    margin-right: 200px;
    transition-duration: 0.5s;
    fill: #ffffff;
    margin: 18px 218px 0 0;
    display: flex;
    align-items: center;
}

.navbar-brand:hover,
.navbar-brand-slogan:hover {
    transition-duration: 0.5s;
    fill: #c7b299;
    color: #c7b299;
}

.navbar-brand-slogan {
    font-size: 34px;
    text-transform: capitalize;
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-weight: normal;
    transition-duration: 0.5s;
    display: block;
}

.header-text {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 665px;
}

.header-text__h2 {
    color: #ffffff;
    font-family: "raleway - extra bold", sans-serif;
    font-size: 52px;
    font-weight: 400;
}

.header-text__h3 {
    color: #ffffff;
    font-family: "raleway", sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.header-text__p {
    width: 562px;
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 50px;
    position: relative;
    left: 20px;
}

.header-text__btn {
    padding: 15px 40px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 5px;
    background-color: #998675;
    color: #ffffff;
    font-family: "raleway - extra bold", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    outline: none;
    transition-duration: 0.5s;
}

.header-nav__icon {
    fill: #fff;
    transition-duration: 0.5s;
}

.header-nav__icon:hover {
    fill: #c7b299;
}

.cart-button {
    margin: -55px 30px 0 30px;
    background: none;
    border: none;
}

input[type="search"]:visited,
input[type="search"] {
    width: 25px;
    height: 25px;
    outline: none;
    background: none;
    border: none;
    margin: -40px 0 0 0;
    color: #fff;
    text-transform: capitalize;
    outline: none;
    background-color: transparent;
    background-image: url("../img/icons/header-nav-icon-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

input[type="search"]:hover,
input[type="search"]:focus {
    width: 200px;
    transition: width 1s ease-out;
    background-position: right;
    background-image: url('');
    border-bottom: 1px solid #c7b299;
}

.header-text__btn:hover {
    background-color: #736357;
    color: #c7b299;
}

.header-carousel {
    position: relative;
    margin: auto 0;
    top: 0;
    z-index: 1;
}

.arrow-right {
    background-image: url("../img/bg/arrow-right.png");
    background-repeat: no-repeat;
    height: 73px;
    width: 40px;
    position: absolute;
    top: 410px;
    right: 120px;
}

.arrow-right:active {
    background-image: url("../img/bg/arrow-right3.png");
    background-repeat: no-repeat;
}

.arrow-left {
    background-image: url("../img/bg/arrow-left.png");
    background-repeat: no-repeat;
    height: 73px;
    width: 40px;
    position: absolute;
    top: 410px;
    left: 120px;
}

.arrow-left:active {
    background-image: url("../img/bg/arrow-left3.png");
    background-repeat: no-repeat;
}

.pagination {
    position: absolute;
    width: 100px;
    display: flex;
    justify-content: space-between;
    bottom: 40px;
    left: 47%;
}

.pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #8F8F92;
    border-radius: 50%;
    border: 2px solid transparent;
    transition-duration: 0.5s;
}

.pagination-item:hover {
    background-color: transparent;
    border: 2px solid #AFA091;
    transform: scale(1.2);
}


/* SECTION SERVICES */

.services {
    font-family: "raleway", sans-serif;
    color: #555555;
    padding: 80px 375px 80px 375px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.service {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 266px;
    position: relative;
    transition-duration: 0.7s;
}

.service:hover {
    color: #c7b299;
    transition-duration: 0.5s;
}

.service:after {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.service:hover::after {
    background-color: #c7b299;
}

.service:hover .special-text {
    color: #8c8c8c;
}

.service-img {
    margin: 0 0 30px 0;
    display: block;
    width: 100%;
    fill: #555;
}

.service:hover .service-img {
    fill: #c7b299;
}

.service-title {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.service-text {
    margin: 0 0 30px 0;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    display: block;
}

.ideas {
    display: flex;
    padding: 80px 345px 0 345px;
    background-color: #fbfaf8;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.ideas-title {
    margin: 0 0 24px 0;
    width: 100%;
    display: block;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.ideas-description {
    display: block;
    max-width: 757px;
    margin: 0 0 40px 0;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.ideas-gallery {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 0;
    justify-content: center;
    width: 100%;
    transition-duration: 0.7s;
}

.ideas-gallery img:hover {
    z-index: 4;
    transition-duration: 0.7s;
}

.idea-img-left {
    position: absolute;
    z-index: 1;
    left: 0;
    transition-duration: 0.7s;
}

.idea-img-center {
    z-index: 3;
    position: relative;
    transition-duration: 0.7s;
}

.idea-img-right {
    position: absolute;
    z-index: 1;
    right: 0;
    transition-duration: 0.7s;
}

/* SECTION THEME */

.theme {
    padding: 2% 15%;
    display: flex;
    justify-content: space-between;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.theme-h2 {
    color: #ffffff;
    font-family: "raleway", sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.theme-h2 span {
    color: #c7b299;
}

.theme-p {
    color: #615855;
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.theme-btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 20px 0;
    text-align: center;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 5px;
    background-color: #998675;
    color: #ffffff;
    font-family: "raleway - extra bold", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    outline: none;
    transition-duration: 0.5s;
}

.theme-btn:hover {
    background-color: #736357;
    color: #c7b299;
}

/* SECTION PROJECTS */

.projects {
    padding: 80px 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.projects-title {
    font-size: 30px;
    font-family: "raleway", san-serif;
    margin: 0;
}

.projects-description {
    font-size: 16px;
    font-family: "montserrat", san-serif;
    font-weight: 300;
    color: #949494;
    margin: 35px 70px;
}

.projects-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 50px 0;
}

.projects-filter {
    margin: 0 10px 0 0;
    width: 120px;
    height: 32px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    box-sizing: border-box;
    text-transform: capitalize;
    transition-duration: 0.5s;
}

.projects-filter:hover {
    background-color: #998675;
    color: #fff;
}

.projects-filter:active {
    background-color: #991115;
    color: #fff;
}

.filter-active {
    width: 70px;
    height: 32px;
    background-color: #998675;
    border-radius: 3px;
    color: #fff;
    border: none;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1180px;
}

.card {
    padding: 0 0 0 0;
    margin: 0 0 30px 0;
    background-color: #fbfaf8;
    overflow: hidden;
    position: relative;
    transition-duration: 0.5s;
}

.card:hover:after {
    top: 0;
}

.card:hover {
    background-color: #362f2d;
    position: relative;
}

.card:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: -100%;
    width: 100%;
    height: 237px;
    padding: 106px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    opacity: .7;
    background-color: #111;
    z-index: 1;
}

.card-img {
    display: block;
}

.card-btn {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    top: -100px;
    position: absolute;
    z-index: 2;
}

.card:hover .card-btn {
    top: 32%;
}

.card-btn-link:hover {
    background-image: url("../img/icons/link-hover.png");
}

.card-btn-link,
.card-btn-link:active {
    background-image: url("../img/icons/link.png");
    background-size: cover;
    left: 40%;
    height: 28px;
    width: 28px;
}

.card-btn-search:hover {
    background-image: url("../img/icons/search-hover.png");
}

.card-btn-search,
.card-btn-search:active {
    background-image: url("../img/icons/search.png");
    background-size: cover;
    right: 40%;
    height: 27px;
    width: 29px;
}

.card-body {
    text-align: left;
    padding: 30px 0 30px 30px;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.card-body:before {
    content: '';
    position: absolute;
    background-color: transparent;
    top: -8px;
    left: 20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
}

.card-title {
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
}

.card-subtitle {
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.card:hover .card-title {
    color: #fff;
}

.card:hover .card-subtitle {
    color: #c7b299;
}

.card:hover .card-body:before {
    border-bottom: 10px solid #362f2d;
}

.gallery-btn {
    padding: 15px 35px;
    display: inline-block;
    margin: 0 auto;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 5px;
    background-color: #998675;
    color: #ffffff;
    font-family: "raleway - extra bold", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    outline: none;
    transition-duration: 0.5s;
}

.gallery-btn:hover {
    background-color: #736357;
    color: #c7b299;
}


/* SECTION PRESENTATION */

.presentation {
    min-height: 490px;
    background-image: url("../img/bg/bg-2-color.png");
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 11%;
}

.presentation-image:hover {
    transition-duration: 1.5s;
    transform: scale(1.5, 1.5);
}

.presentation-h2 {
    color: #ffffff;
    font-family: "raleway", sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
}

.presentation-p {
    width: 552px;
    min-height: 43px;
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    position: relative;
    left: 36%;
}

/* SECTION MOBILE */

.mobile {
    min-height: 695px;
    background-color: #fbfaf8;
    background-image: url("../img/bg/bg-3.png");
    background-repeat: no-repeat;
    background-position: 340px bottom;
    padding: 7% 0 0 42%;
}

.mobile-wrapper {
    perspective: 650px;
    perspective-origin: 70% 60%;
    width: 100%;
}

.mobile-text {
    transition-duration: 1s;
}

.mobile-h2:hover,
.mobile-p:hover {
    color: #000000;
}

.mobile-h2 {
    color: #555555;
    font-family: "raleway - semi bold", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}

.mobile-p {
    width: 657px;
    height: 99px;
    color: #8c8c8c;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.mobile-ul {
    margin: 50px 0 0 30px;
}

.mobile-li {
    list-style: none;
    background: url(../img/icons/mobile-list-icon.png) no-repeat 0 3px;
    padding-left: 24px;
    margin-bottom: -70px;
}

li > .mobile-p {
    color: #8c8c8c;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-left: 29px;
}

.counters {
    padding: 70px 500px 60px 500px;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
}

.counter {
    margin: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: "montserrat", sans-serif;
}

.counter:after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 30px 0 0 0;
}

.counter-img {
    fill: #c7b299;
    margin: 0 0 30px 0;
}

.counter-title {
    margin: 0 0 20px 0;
    display: block;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    width: 100%;
}

.counter-text {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    width: 100%;
}

/* SECTION RECENT */

.recent {
    padding: 80px 375px 80px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.recent-title {
    margin: 0 0 24px 0;
    width: 100%;
    display: block;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.recent-description {
    display: block;
    max-width: 757px;
    margin: 0 0 40px 0;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.post-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.post {
    margin: 0 0 40px 0;
    max-width: 370px;
    text-align: left;
    border: 1px solid #f8f8f8;
    position: relative;
    transition-duration: 0.5s;
}

.post-image {
    display: block;
    opacity: 1;
}

.post-image:hover {
    opacity: 0.4;
}

.date {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
}

.data {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 50px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    display: block;
}

.day {
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    display: block;
}

.post-card {
    padding: 30px 45px 30px 30px;
}

.post-title {
    margin: 0 0 20px 0;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}

.post-description {
    margin: 0 0 25px 0;
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
}

.post-link,
.post-link:active {
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    text-decoration: none;
}

.post-link:after {
    margin: 0 0 0 10px;
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    background-image: url("../img/link_arrow.svg");
    background-size: cover;
    opacity: 0;
}

.post-link:hover::after {
    opacity: 1;
}

.recent-button:hover {
    fill: #c7b299;
}

.recent-button,
.recent-button:active {
    margin: 0 10px 0 0;
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
    background-size: cover;
    outline-offset: 0;
    height: 22px;
    width: 22px;
    fill: #d1d1d1;
    transition-duration: 0.5s;
}

.recent-button:last-child {
    margin: 0 0 0 0;
}

.post:hover {
    background-color: #362f2d;
    border: 1px solid transparent;
}

.post:hover .post-title {
    color: #c7b299;
}

.post:hover .post-description {
    color: #fff;
}

.post:hover .data {
    background-color: #c7b299;
}

.post:hover .day {
    background-color: #a48d72;
}


/* SECTION PARTNERS */

.partners {
    display: flex;
    justify-content: space-between;
    min-height: 460px;
    background-image: url("../img/bg/bg-4-color.jpg");
    background-color: #191919;
    padding: 140px 280px 140px 340px;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.brand-image {
    width: 210px;
    transition-duration: 1.3s;
}

.brand-image:not(:last-child) {
    margin-right: 80px;
}

.brand-image:hover {
    transition-duration: 1.3s;
    transform: scale(0.7, 0.7);
}

.footer-texts {
    display: grid;
    grid-template-columns: 330px 340px 340px 280px;
    padding: 70px 268px 100px 340px;
    background-color: #191919;
    margin-top: -8px;
}

.footer-block {
    margin-right: 80px;
}

.footer-block a {
    text-decoration: none;
}

.footer-block a:hover {
    text-decoration: none;
    color: #00bff3;
}

.footer-block a:focus {
    text-decoration: none;
    color: #ffffff;
}

.margin-block {
    margin: 25px 0;
}

.footer-h5 {
    color: #ffffff;
    font-family: "raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.blog-text {
    border-bottom: 1px solid #595f6f;
    padding: 15px 0;
    transition-duration: 1.3s;
}

.blog-text:hover .footer-p {
    color: #c7b299;
}

.data-p {
    color: #363636;
    font-family: "montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    transition-duration: 1.3s;
}

.blog-text:hover .data-p {
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.footer-p {
    color: #555555;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    transition-duration: 1.3s;
}

.footer-p:hover {
    color: #c7b299;
}

.footer-link {
    display: flex;
    margin-top: 30px;
}

.footer-link-p {
    margin: -2px 15px 0 0;
    transition-duration: 1.1s;
}

.text-blue {
    color: #00bff3 !important;
}

.text-blue:hover {
    color: #0c8ef8 !important;
}

.footer-p > span {
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #959595;
}

.footer-photo-block {
    width: 270px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-photo-block > a {
    display: block;
    height: 98px;
}

.photo-block-image {
    transition-duration: 1.3s;
}

.photo-block-image:hover {
    transition-duration: 1.3s;
    transform: scale(0.8, 0.8);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #111111;
    padding: 45px 310px 50px 340px;
}

.copyright-p {
    font-family: "montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #646446;
    transition-duration: 1.1s;
    margin-right: 10px;
}

a > .copyright-p:hover {
    font-family: "montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #c7b299;
    text-decoration: none;
}

.footer-copyright a {
    text-decoration: none;
}

.copyright-p span {
    font-family: "montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #959595;
    transition-duration: 1.1s;
}

.copyright-p span:hover {
    color: #c7b299;
}

.copyright-p a > span {
    cursor: pointer;
}

.copyright-border {
    border-right: 1px solid #646446;
    display: inline-block;
}